@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Gamja+Flower&family=Nanum+Gothic&family=Single+Day&display=swap'); 

   

        .bgimg {
            border: 0;
            padding: 0; 
            background-image: url('image/fail.png');
            min-height: 100%;
            background-size: cover;}
      body {
    animation: fadeInAnimation ease 3s
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
