.u.i-progressbar { position:relative; }
.progress-label {
    position:absolute;
    left:50%;
    top:8px;
    font-weight:bold;
    margin-left:-40px;
    font-size: 35px;
    color:white;
}
button {
			
			border: solid;
			background-color:#fff;
            border-radius: 15px;
			font-size: 30px;
			}


 			button:hover {
			background-color: #f3fc49;
			border-radius: 15px;
}