@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Gamja+Flower&family=Nanum+Gothic&family=Single+Day&display=swap'); 
      
	
	
	
		p.typing-txt{
		position:relative;
		 display: inline-block;
		 height: 50px; overflow: hidden;
		 animation: typingAni 3s steps(300, end);
		 font-size: 35px;
		 font-weight: 900;
		 vertical-align: middle;
		color: darkblue;
		}
		@keyframes typingAni {
		  0%{width:0%}
		  100%{width: 1080px};
		}
  
    
    

        .bgimg {
            border: 0;
            padding: 0; 
            background-image: url('image/kako1.png');
            min-height: 100%;
            background-size: cover;
        }
		.in {
			background-image: url(image/sub.png);
			margin-top: 700px;
			margin-left: 90px;
			height: 389px;
			width: 1838px;
			

			}
		.select {
			background-image: url(image/sub.png);
			margin-top: 700px;
			margin-left: 90px;
			height: 389px;
			width: 1838px;
			

			}
			.contents:hover{ color: #ff7394; }

			.contents{
				font: size 35px;
				vertical-align:middle;
				color: black;}
			a { text-decoration:none } 
			.bgm { display: block;
			text-align: right;}

button {
			
			border: solid;
			background-color:#fff;
            border-radius: 15px;
			font-size: 30px;
			}


 			button:hover {
			background-color: #f3fc49;
			border-radius: 15px;
}
